<div class = "gallery">
    <div>
        <a  data-fancybox="gallery" data-type = "ajax" data-src = "post.html" href="javascript:;">
            <img src="/public/img/intra.png" alt=""/>
        </a>
    </div>
</div>

<script src = '/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.js'></script>