<link rel="stylesheet" href="/css/navbar.css">
<script src="/js/app.js" async></script>
<!--<script src="/js/search.js"></script>-->

<!-- overlay containers -->

<div id="overlay" onclick="off()">
  <div id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
    <h3>Upload a photo</h3>
    <div id="drop_zone_content">
      <p>Drag one or more files to this Drop Zone ...</p>
    </div>
    <div id="drop_zone_buttons">
      <button type="submit" class="btn btn-primary">Upload</button>
      <button type="button" class="btn btn-outline-primary cancel">Cancel</button>
    </div>
  </div>
</div>

<!--header-->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid padding">
    <a class="navbar-brand col-m-1 col-lg-2" href="/newsfeed"><img src="/img/logo.PNG" class="img-fluid"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"></span>
    </button>

    <!-- search bar -->
    <form action = '/api/searchUser' class="searchBar" id = "searchBar">
    <div class="bg-light border rounded rounded-pill shadow-sm">
      <div class="input-group">
      <div class="input-group-prepend">
        <button id="button-addon2" type="submit" class="btn btn-link text-warning searchButton"><i
          class="material-icons">search</i></button>
      </div>
      <input type="search" placeholder="search for creators around the world" aria-describedby="button-addon2"
        class="form-control border-0 bg-light" id = 'search' name = 'search'>
      </div>
    </div>
    </form>
  
    <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
      <a class="nav-link btn btn-outline-dark" onclick="on()">Upload</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
      <a class="nav-link font-weight-bold" href="/">Logout</a>
      </li>
    </ul>
    </div>
  </div>
</nav>
