<!DOCTYPE html>
<html lang="en">
  <head>
        <title>Obscura</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- jQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <!--js for the gallery-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.js"></script>    

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- google material icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
        <script src="https://use.fontawesome.com/328c519116.js"></script>
        <!-- css for fancyBox -->
        <link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">

        <!-- General css for the whole website-->
        <link rel="stylesheet" href="/css/news.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/profilePage.css">
        <link rel="stylesheet" href="/css/newsfeed.css"> <!-- newsfeed.hbs css-->
        <link rel="stylesheet" href="/css/posts.css"> <!-- post.hbs css--> 
    </head>
    <body>
        {{{body}}}
    </body>
</html>