

<div class = "gallery"> <!-- just insert this div block to access the gallery module--> 
    <!-- This part would be implemented in the script.js, please implement post.hbs 
    <div>
        <a  data-fancybox="gallery" data-type = "ajax" data-src = "post.hbs" href="javascript:;"> 
            <img src="/public/img/intra.png" alt=""/>
        </a>
    </div>
    -->
</div>
