<script src="/js/gallery.js"></script>
{{> nav}}
<div class = "gallery"> 
    {{#each post.comments}}
    <div>
        <a  data-fancybox="gallery" data-type = "ajax" data-src = "post.hbs" href="javascript:;"> 
            <img src="/public/img/intra.png" alt=""/>
        </a>
    </div>
    {{/each}}
</div>
