<script src="/js/gallery.js"></script>
<script src="/js/post.js"></script>
<input type="hidden" id="pid" value={{pid}}>
<div class="row">
  <div class="col image-pane">
  </div>
  <div class="col info-pane">
  </div>
</div>