<div class="modal-container">
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-9" id="post-image-pane">
          <img src={{img}} alt="" id="post-image">
        </div>
        <div class="col-3 ml-auto" id="post-info-pane">POST DETAILS HERE</div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer"><a href="javascript:;" class="btn btn-primary" data-fancybox-close>Close</a></div>
</div>