.profilePic {
    height: 300px;
    width: 300px;
    box-shadow: 0px 0px 10px black;
}

#profileHeader img {
    max-width: 50%;
    height: auto;
}


#profileHead {
    background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v748-toon-15_1_1.jpg?w=800&dpr=1&fit=default&crop=default&auto=format&fm=pjpg&q=75&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=a6b63f918c3a6b6185470a2c9dd2f230');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}
#follow:hover {
    background-color: #464246;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#464246), to(#CABCB0));
    background-image: -moz-linear-gradient(top, #464246, #CABCB0);
    background-image: -ms-linear-gradient(top, #464246, #CABCB0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #464246), color-stop(100%, #CABCB0));
    background-image: -webkit-linear-gradient(top, #464246, #CABCB0);
    background-image: -o-linear-gradient(top, #464246, #CABCB0);
    background-image: linear-gradient(top, #464246, #CABCB0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#464246', endColorstr='#CABCB0', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #464246 #CABCB0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color:#fff;
}

/*For follow button*/
#follow.following{
    background-color: #464246;
    
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#464246), to(#CABCB0));
    background-image: -moz-linear-gradient(top, #464246, #CABCB0);
    background-image: -ms-linear-gradient(top, #464246, #CABCB0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #464246), color-stop(100%, #CABCB0));
    background-image: -webkit-linear-gradient(top, #464246, #CABCB0);
    background-image: -o-linear-gradient(top, #464246, #CABCB0);
    background-image: linear-gradient(top, #464246, #CABCB0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#464246', endColorstr='#CABCB0', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #464246 #CABCB0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    
    color:#fff;
}
#follow.unfollow{
    background-color: #C43C35;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #C43C35 #C43C35 #882A25;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}