.primary-color {
  color: #464246;
}

.primary-color-light {
  color: #F8F8F8;
}

.secondary-color {
  color: #EADDCC;
}

.no-underline {
  text-decoration: none !important
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #464246 !important;
}